@import url('https://fonts.googleapis.com/css2?family=Kalnia+Glaze:wght@100..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;

  --dark-elem-bg: #25252f;
  --dark-txt: #fff;
}

h1 {
  background-color: var(--dark-elem-bg);
  color: var(--dark-txt);

  margin: 1rem 0;
  padding: 1rem 1rem;
  width: max-content;
  border-radius: 0 0.8rem 0.8rem 0;
}

main {
  margin-inline: auto;
  padding: 3rem 5rem;

  width: max-content;
  border-radius: 0.4rem;

  background-color: var(--dark-elem-bg);
  color: var(--dark-txt);
}

#cash {
  padding: 0.4rem 1rem;
}

#purchase-btn {
  display: block;
  margin-block: 0.6rem;
  padding: 0.2rem 1.5rem;

  border: none;
}